name: Test checking

on:
  push:
    branches:
      - main
      - vectormatrix2
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Git repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.12.6'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest mypy

      - name: Run tests
        env:
          PYTHONPATH: ${{ github.workspace }} 
        run: |
          pytest

